<div class="three wide column">

</div>

<div class="thirteen wide column">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>Node List</strong></div>
  </div>

  <div class="ui segment top attached">
    <%= link_to '新建', new_node_path, class: 'ui teal button', remote: true %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created_at</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.id %></td>
        <td><%= node.name %></td>
        <td><%= node.description %></td>
        <td><%= node.created_at.to_s %></td>
        <td>
          <%= link_to '添加父类', new_node_path(parent_id: node.id), class: 'ui blue label', remote: true %>
        </td>
        <td>
          <%= link_to '编辑', edit_node_path(node), class: 'ui pink label', remote: true %>
          <%= link_to '删除', node_path(node), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red label' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>



